--==================================================================================================================================
--============= DATABASE_BUILD_QUERY.sql ===========================================================================================
--============= SCRIPT DE CRIAÇÃO DE TODA A ESTRUTURA DE TABELAS DA BASE DE DADOS ==================================================
--==================================================================================================================================

CREATE DATABASE _MORPHEUS_ENGINE_ -- CRIAÇÃO DA BD
GO -- A INSTRUÇAO 'GO' SERÁ AMPLAMENTE UTILIZADA, NO SENTIDO DE SEPARAR A EXECUÇÃO DAS QUERIES EM VARIAS PARTES DISTINTAS
USE [_MORPHEUS_ENGINE_] -- DB CONNECTION
GO

--#region => TABLE CREATION
--#region => GENERIC TABLES
CREATE TABLE MACHINE_STATUS(MACHINE_STATUS_ID int identity(1,1) primary key, MACHINE_STATUS_NAME varchar(50))
--#endregion => GENERIC TABLES

--#region => OPERATIONS
CREATE TABLE OPERATION_CATEGORY(OPERATION_CATEGORY_ID int identity(1,1) primary key, OPERATION_CATEGORY_NAME varchar(50))
CREATE TABLE OPERATION_STATUS(OPERATION_STATUS_ID int identity(1,1) primary key, OPERATION_STATUS_NAME varchar(50))
CREATE TABLE OPERATION_LOGS(OPERATION_ID int identity(1,1) primary key, OPERATION_NAME varchar(120), OPERATION_TIMESTAMP timestamp, OPERATION_CATEGORY_ID INT foreign key references OPERATION_CATEGORY(OPERATION_CATEGORY_ID), OPERATION_STATUS_ID int foreign key references OPERATION_STATUS(OPERATION_STATUS_ID))
--#endregion => OPERATIONS

--#region => COUTRIES
CREATE TABLE COUNTRIES(COUNTRY_ID int identity(1,1) primary key, COUNTRY_NAME varchar(75), COUNTRY_CAPITAL_CITY varchar(100))
--#endregion => COUTRIES

--#region => USERS
CREATE TABLE USER_GENDERS(USER_GENDER_ID int identity(1,1) primary key, USER_GENDER_NAME varchar(20))
CREATE TABLE USER_JOBS(USER_JOB_ID int identity(1,1) primary key, USER_JOB_NAME varchar(75))
CREATE TABLE USER_ACADEMIC_LEVEL(USER_ACADEMIC_LEVEL_ID int identity(1,1) primary key, USER_ACADEMIC_LEVEL_NAME varchar(50))
CREATE TABLE USER_LEVEL(USER_LEVEL_ID int identity(1,1) primary key, USER_LEVEL_NAME varchar(50))
CREATE TABLE USERS(
    USER_ID int identity(1,1) primary key,
    USER_FIRST_NAME varchar(75),
    USER_LAST_NAME varchar(75),
    USER_PASSWORD_HASH varbinary(255),
    USER_EMAIL varchar(255),
    USER_PHONENUMBER varchar(12),
    USER_PROFILE_PICTURE_PATH varchar(1000),
    USER_REGISTRATION_TIMESTAMP timestamp,
    USER_BIRTHDATE DATE,
    USER_GENDER_ID int foreign key references USER_GENDERS(USER_GENDER_ID),
    USER_COUNTRY_ID int foreign key references COUNTRIES(COUNTRY_ID),
    USER_ADRESS varchar(255),
    USER_CITIZEN_CARD_NUMBER int,
    USER_SALARY float,
    USER_BANK_ACCOUNT_NUMBER int,
    USER_ACADEMIC_LEVEL_ID int foreign key references USER_ACADEMIC_LEVEL(USER_ACADEMIC_LEVEL_ID),
    USER_JOB_ID int foreign key references USER_JOBS(USER_JOB_ID),
    USER_LEVEL_ID int foreign key references USER_LEVEL(USER_LEVEL_ID)
)

--#region => COMPANIES
CREATE TABLE COMPANY_TYPES(COMPANY_TYPE_ID int identity(1,1) primary key, COMPANY_TYPE_NAME varchar(20))
CREATE TABLE COMPANIES(
    COMPANY_ID int identity(1,1) primary key,
    COMPANY_NAME varchar(100),
    COMPANY_TYPE_ID int foreign key references COMPANY_TYPES(COMPANY_TYPE_ID),
    COMPANY_COUNTRY_ID int foreign key references COUNTRIES(COUNTRY_ID),
    COMPANY_CEO_ID int foreign key references USERS(USER_ID),
    COMPANY_CAPITAL float
)
--#endregion => COMPANIES

CREATE TABLE USER_REL_COMPANY(
    USER_REL_COMPANY_ID int identity(1,1) primary key,
    USER_COMPANY_ID int foreign key references COMPANIES(COMPANY_ID),
    USER_ID int foreign key references USERS(USER_ID)
)
--#endregion => USERS

--#region => ENERGY PRODUCTION

CREATE TABLE POWER_PLANT_TYPE(
    POWER_PLANT_TYPE_ID int identity(1,1) primary key,
    POWER_PLANT_TYPE_NAME varchar(50)
)

CREATE TABLE POWER_PLANTS(
    POWER_PLANT_ID int identity(1,1) primary key,
    POWER_PLANT_NAME varchar(50),
    POWER_PLANT_COMPANY_ID int foreign key references COMPANIES(COMPANY_ID),
    POWER_PLANT_TYPE_ID int foreign key references POWER_PLANT_TYPE(POWER_PLANT_TYPE_ID),
    POWER_PLANT_LOCATION varchar(100),
    POWER_PLANT_MAX_OUTPUT_CAPACITY float,
    POWER_PLANT_STATUS_ID int foreign key references MACHINE_STATUS(MACHINE_STATUS_ID),
    POWER_PLANT_NEXT_MAINTENANCE_DATE date,
    POWER_PLANT_INSTALLATION_DATE date
)

CREATE TABLE POWER_STORAGE_DEVICES(
    POWER_STORAGE_DEVICE_ID int identity(1,1) primary key,
    POWER_PLANT_ID int foreign key references POWER_PLANTS(POWER_PLANT_ID),
	POWER_STORAGE_DEVICE_MANUFACTURER_ID int foreign key references COMPANIES(COMPANY_ID),
    POWER_STORAGE_DEVICE_NAME varchar(50),
    POWER_STORAGE_DEVICE_MAX_CAPACITY float,
    POWER_STORAGE_DEVICE_STATUS_ID int foreign key references MACHINE_STATUS(MACHINE_STATUS_ID)
)

CREATE TABLE POWER_FLUX_LOGS(
    LOG_ID int identity(1,1) primary key,
    LOG_TIME datetime,
	LOG_SOURCE_ID int foreign key references POWER_PLANTS(POWER_PLANT_ID),
    LOG_POWER_OUTPUT float,
    LOG_POWER_CONSUMPTION float,
    LOG_POWER_STORAGE float
)

CREATE TABLE POWER_PLANT_MAINTENANCE_LOGS(
    LOG_ID int identity(1,1) primary key,
    OPERATION_ID int foreign key references OPERATION_LOGS(OPERATION_ID),
	POWER_PLANT_ID int foreign key references POWER_PLANTS(POWER_PLANT_ID),
    MAINTENANCE_DESCRIPTION VARCHAR(MAX),
    MAINTENANCE_DATE date,
    MAINTENANCE_TECHNITIAN_ID int foreign key references USERS(USER_ID),
    MAINTENANCE_RESULTS_INFO varbinary(MAX)
)

--#endregion => ENERGY PRODUCTION

--#region => LIFE SUPPORT

CREATE TABLE LIFE_SUPPORT_SYSTEMS_TYPES(
    LIFE_SUPPORT_SYSTEMS_TYPE_ID int identity(1,1) primary key,
    LIFE_SUPPORT_SYSTEMS_TYPE_NAME varchar(50)
)

CREATE TABLE FOOD_TYPES(
    FOOD_TYPE_ID int identity(1,1) primary key,
    FOOD_TYPE_NAME varchar(50)
)

CREATE TABLE LIFE_SUPPORT_SYSTEMS(
    SYSTEM_ID int identity(1,1) primary key,
    SYSTEM_NAME varchar(50),
    SYSTEM_TYPE_ID int foreign key references LIFE_SUPPORT_SYSTEMS_TYPES(LIFE_SUPPORT_SYSTEMS_TYPE_ID),
    SYSTEM_COMPANY_ID int foreign key references COMPANIES(COMPANY_ID),
    SYSTEM_LOCATION varchar(100),
    SYSTEM_STATUS_ID int foreign key references MACHINE_STATUS(MACHINE_STATUS_ID),
    SYSTEM_MAX_OUTPUT_CAPACITY float,
    SYSTEM_INSTALLATION_DATE date,
    SYSTEM_NEXT_MAINTENANCE_DATE date
)

CREATE TABLE LIFE_SUPPORT_SYSTEM_MAINTENANCE_LOGS(
    LOG_ID int identity(1,1) primary key,
    OPERATION_ID int foreign key references OPERATION_LOGS(OPERATION_ID),
    SYSTEM_ID int foreign key references LIFE_SUPPORT_SYSTEMS(SYSTEM_ID),
    MAINTENANCE_DESCRIPTION text,
    MAINTENANCE_DATE date,
    MAINTENANCE_TECHNITIAN_ID int foreign key references USERS(USER_ID),
    MAINTENANCE_RESULTS_INFO text
)

CREATE TABLE OXIGEN_PRODUCTION_LOGS(
    LOG_ID int identity(1,1) primary key,
    LOG_TIMESTAMP timestamp,
    LOG_SOURCE_ID int foreign key references LIFE_SUPPORT_SYSTEMS(SYSTEM_ID),
    LOG_OXIGEN_OUTPUT int,
    LOG_OXIGEN_CONSUMPTION int,
    LOG_OXIGEN_STORAGE int
)

CREATE TABLE WATER_EXTRACTION_LOGS(
    LOG_ID int identity(1,1) primary key,
    LOG_TIMESTAMP timestamp,
    LOG_SOURCE_ID int foreign key references LIFE_SUPPORT_SYSTEMS(SYSTEM_ID),
    LOG_WATER_OUTPUT int,
    LOG_WATER_CONSUMPTION int,
    LOG_WATER_STORAGE int
)

CREATE TABLE FOOD_PRODUCTION_LOGS(
    LOG_ID int identity(1,1) primary key,
    LOG_TIMESTAMP timestamp,
    LOG_SOURCE_ID int foreign key references LIFE_SUPPORT_SYSTEMS(SYSTEM_ID),
    LOG_FOOD_TYPE_ID int foreign key references FOOD_TYPES(FOOD_TYPE_ID),
    LOG_FOOD_PRODUCTION int,
    LOG_FOOD_DISTRIBUTION int,
    LOG_FOOD_STORAGE int,
    LOG_FOOD_EXPIRATION_DATE date
)

CREATE TABLE WASTE_TREATMENT_LOGS(
    LOG_ID int identity(1,1) primary key,
    LOG_TIMESTAMP timestamp,
    LOG_SOURCE_ID int foreign key references LIFE_SUPPORT_SYSTEMS(SYSTEM_ID),
    LOG_WASTE_INPUT int,
    LOG_TREATED_WASTE_OUTPUT int
)

--#endregion => LIFE SUPPORT

--#region => CITY CONSTRUCTION

CREATE TABLE CITY_CONSTRUCTION_STATUS(
    CITY_CONSTRUCTION_STATUS_ID int identity(1,1) primary key,
    CITY_CONSTRUCTION_STATUS_NAME varchar(50)
)

CREATE TABLE CITY_BUILDING_TYPES(
    CITY_BUILDING_TYPE_ID int identity(1,1) primary key,
    CITY_BUILDING_TYPE_NAME varchar(50)
)

CREATE TABLE CONSTRUCTION_STATUS(
    CONSTRUCTION_STATUS_ID int identity(1,1) primary key,
    CONSTRUCTION_STATUS_NAME varchar(50)
)

CREATE TABLE CITIES(
    CITY_ID int identity(1,1) primary key,
    CITY_NAME varchar(50),
    CITY_LOCATION VARCHAR(100),
    CITY_PRESIDENT_ID int foreign key references USERS(USER_ID),
    CITY_BUILT_DATE date,
    CITY_CONSTRUCTION_STATUS_ID int foreign key references CITY_CONSTRUCTION_STATUS(CITY_CONSTRUCTION_STATUS_ID)
)

CREATE TABLE CITY_ENVIRONMENTAL_DATA(
    CITY_ENVIRONMENTAL_DATA_ID int identity(1,1) primary key,
    CITY_ID int foreign key references CITIES(CITY_ID),
    CITY_AVERAGE_TEMPERATURE int,
    CITY_AVERAGE_HUMIDITY int,
    CITY_OXYGEN_LEVELS int,
)

CREATE TABLE CITY_DEMOGRAPHICS_DATA(
    CITY_DEMOGRAPHICS_DATA_ID int identity(1,1) primary key,
    CITY_ID int foreign key references CITIES(CITY_ID),
    CITY_SURFACE_AREA int,
    CITY_POPULATION int,
    CITY_LIFE_EXPECTANCY int,
    CITY_CRIME_RATE int,
)

CREATE TABLE CITY_ECONOMICAL_DATA(
    CITY_ECONOMICAL_DATA_ID int identity(1,1) primary key,
    CITY_ID int foreign key references CITIES(CITY_ID),
    CITY_LIFE_COST int,
    CITY_GDP int,
    CITY_AVERAGE_INCOME int,
)

CREATE TABLE CITY_REL_POWERPLANTS(
    CITY_REL_POWERPLANT_ID int identity(1,1) primary key,
    CITY_ID int foreign key references CITIES(CITY_ID),
    CITY_ENERGY_SOURCE_ID int foreign key references POWER_PLANTS(POWER_PLANT_ID)
)

CREATE TABLE CITY_REL_LIFE_SUPPORT_SYSTEMS(
    CITY_REL_LIFE_SUPPORT_SYSTEM_ID int identity(1,1) primary key,
    CITY_ID int foreign key references CITIES(CITY_ID),
    CITY_LIFE_SUPPORT_SYSTEM_ID int foreign key references LIFE_SUPPORT_SYSTEMS(SYSTEM_ID)
)

CREATE TABLE CITY_BUILDINGS(
    BUILDING_ID int identity(1,1) primary key,
    BUILDING_CITY_ID int foreign key references CITIES(CITY_ID),
    BUILDING_TYPE_ID int foreign key references CITY_BUILDING_TYPES(CITY_BUILDING_TYPE_ID),
    BUILDING_NAME varchar(50),
    BUILDING_LOCATION varchar(100),
    BUILDING_HEIGHT int,
    BUILDING_WIDTH int,
    BUILDING_LENGTH int,
    BUILDING_POWER_CONSUMPTION int,
    BUILDING_CONSTRUCTION_DATE date,
    BUILDING_PLANT varbinary(MAX),
    BUILDING_OWNER_USER_ID int foreign key references USERS(USER_ID),
    BUILDING_CONSTRUCTION_STATUS_ID int foreign key references CONSTRUCTION_STATUS(CONSTRUCTION_STATUS_ID),
    BUILDING_COST int
)

CREATE TABLE CONSTRUCTION_LOGS(
    CONSTRUCTION_LOG_ID int identity(1,1) primary key,
    CONSTRUCTION_BUILDING_ID int foreign key references CITY_BUILDINGS(BUILDING_ID),
    CONSTRUCTION_COMPANY_ID int foreign key references COMPANIES(COMPANY_ID),
    CONSTRUCTION_LOG_TIMESTAMP timestamp,
    CONSTRUCTION_LOG_DISCRIPTION text
)

--#endregion => CITY CONSTRUCTION
--#region => VEHICLES
CREATE TABLE VEHICLE_TYPES(
    VEHICLE_TYPE_ID int identity(1, 1) primary key,
    VEHICLE_TYPE_NAME varchar(50)
)

CREATE TABLE VEHICLE_FUEL_TYPES(
    VEHICLE_FUEL_TYPE_ID int identity(1,1) primary key,
    VEHICLE_FUEL_TYPE_NAME varchar(50)
)

CREATE TABLE VEHICLES(
    VEHICLE_ID int primary key identity(1,1),
    VEHICLE_SERIAL_NUMBER varchar(50) unique,
    VEHICLE_MANUFACTURER_ID int foreign key references COMPANIES(COMPANY_ID),
    VEHICLE_PRODUCTION_DATE date,
    VEHICLE_NAME varchar(100),
    VEHICLE_TYPE_ID int foreign key references VEHICLE_TYPES(VEHICLE_TYPE_ID),
    VEHICLE_MASS float,
    VEHICLE_LENGTH float,
    VEHICLE_WIDTH float,
    VEHICLE_HEIGHT float,
    VEHICLE_FUEL_TYPE_ID int foreign key references VEHICLE_FUEL_TYPES(VEHICLE_FUEL_TYPE_ID),
    VEHICLE_NEXT_MAINTENANCE_DATE date
)

CREATE TABLE VEHICLES_MAINTENANCE_LOGS(
    LOG_ID int primary key identity(1,1),
    OPERATION_ID int foreign key references OPERATION_LOGS(OPERATION_ID),
    VEHICLE_ID int foreign key references VEHICLES(VEHICLE_ID),
    MAINTENANCE_DESCRIPTION text,
    MAINTENANCE_DATE date,
    MAINTENANCE_TECHNITIAN int foreign key references USERS(USER_ID),
    MAINTENANCE_RESULTS_INFO varbinary(MAX)
)

--#endregion => VEHICLES

--#region => LOGISTICS
CREATE TABLE LOGISTICS_OPERATION_TYPE(
    OPERATION_TYPE_ID int identity(1,1) primary key,
    OPERATION_TYPE_NAME varchar(50)
)

CREATE TABLE SPACE_LOGISTICS(
    MISSION_ID int identity(1,1) primary key,
    OPERATION_ID int foreign key references OPERATION_LOGS(OPERATION_ID),
    MISSION_NAME varchar(100),
    MISSION_TYPE_ID int foreign key references LOGISTICS_OPERATION_TYPE(OPERATION_TYPE_ID),
    MISSION_COMPANY_ID int foreign key references COMPANIES(COMPANY_ID),
    MISSION_TRANSPORT_VEHICLE_ID int foreign key references VEHICLES(VEHICLE_ID),
    DESCRIPTION text,
    LAUNCH_DATE date,
    LANDING_DATE date,
    LAUNCH_LOCATION varchar(50),
    LANDING_LOCATION varchar(50),
    BUDGET float
)

--#endregion => LOGISTICS

--#region => SCIENTIFIC DATA

CREATE TABLE SCIENTIFIC_TASK_TYPES(
    TASK_TYPE_ID int identity(1,1) primary key,
    TASK_TYPE_NAME varchar(50)
)

CREATE TABLE TASK_EVENTS(
    TASK_EVENT_ID int identity(1,1) primary key,
    TASK_EVENT_NAME varchar(50)
)

CREATE TABLE SCIENTIFIC_PROSPECTION_LOGS(
    TASK_ID int identity(1,1) primary key,
    TASK_OPERATION_ID int foreign key references OPERATION_LOGS(OPERATION_ID),
    TASK_DEVICE_ID int foreign key references VEHICLES(VEHICLE_ID),
    TASK_TIMESTAMP timestamp,
    TASK_LOCATION varchar(50),
    TASK_TYPE_ID int foreign key references SCIENTIFIC_TASK_TYPES(TASK_TYPE_ID),
    TASK_EVENT_ID int foreign key references TASK_EVENTS(TASK_EVENT_ID),
    TASK_RAW_DATA varbinary(MAX)
)

--#endregion => SCIENTIFIC DATA
--#endregion => TABLE CREATION